<include file="Public:header"  title="个人网站"/>

		<div class="row" id="thumbnails_container">
			<div class="col-md-12">
				<h2>你们公司言论自由吗</h2>
				<p>或许当你第一天上班的时候人事部的人会对你说“我们公司很OPEN”，而且在很多时候开会的时候总经理会说“大家畅所欲言吧，我会尽力满足你们的要求、尽量解决你们所提的意见”，千万不要陷进这个陷阱。大多数时候公司是没有言论自由的，特别是当你对公司的政策、环境或制度说出了真实的想法，在公开场合上反对公司的政策、制度，公司会视你为影响公司氛围的反对派，他们觉得你很危险，所以可能会通过一些方法让你打包走人的。</p>
				<h3>如何让领导感到150％满意</h3>
				<p>在职场成功的一个秘诀，不要只干领导让你做的事情。如果你只是按照领导说的话100% 执行，那你永远也无法脱颖而出。 在公司做领导给你分配的任务的时候，一定要多长一个心眼, 除了他布置的任务以外, 你可以提出你的建议或者是一些改善意见, 而且完成度不能是100%, 而是要达到150%。</p>
				<h3>更多>></h3>
			</div>

			<div class="row">
				<div class="col-xs-6 col-sm-3 col-md-3"><a href="preview.html" class="thumbnail"><img src="__STATIC__/images/templatemo_image_01.jpg" alt="Model Girl 1" class="img-responsive"><p>First Model</p></a></div>
				<div class="col-xs-6 col-sm-3 col-md-3"><a href="preview.html" class="thumbnail"><img src="__STATIC__/images/templatemo_image_02.jpg" alt="Model Girl 2" class="img-responsive"><p>Model Two</p></a></div>
				<div class="col-xs-6 col-sm-3 col-md-3"><a href="preview.html" class="thumbnail"><img src="__STATIC__/images/templatemo_image_03.jpg" alt="Model Girl 3" class="img-responsive"><p>Third Model</p></a></div>
				<div class="col-xs-6 col-sm-3 col-md-3"><a href="preview.html" class="thumbnail"><img src="__STATIC__/images/templatemo_image_04.jpg" alt="Model Girl 4" class="img-responsive"><p>Model Four</p></a></div>
			</div>

			<div class="row">
				<div class="col-xs-6 col-sm-3 col-md-3"><a href="preview.html" class="thumbnail"><img src="__STATIC__/images/templatemo_image_05.jpg" alt="Model Girl 5" class="img-responsive"><p>Fifth One</p></a></div>
				<div class="col-xs-6 col-sm-3 col-md-3"><a href="preview.html" class="thumbnail"><img src="__STATIC__/images/templatemo_image_06.jpg" alt="Model Girl 6" class="img-responsive"><p>Model Sixth</p></a></div>
				<div class="col-xs-6 col-sm-3 col-md-3"><a href="preview.html" class="thumbnail"><img src="__STATIC__/images/templatemo_image_07.jpg" alt="Model Girl 7" class="img-responsive"><p>Seventh Model</p></a></div>
				<div class="col-xs-6 col-sm-3 col-md-3"><a href="preview.html" class="thumbnail"><img src="__STATIC__/images/templatemo_image_08.jpg" alt="Model Girl 8" class="img-responsive"><p>Model Eighth</p></a></div>
			</div>

			<div class="col-xs-12 col-md-12">
				<a href="#" class="btn btn-primary" role="button">Previous</a>
				<a href="#" class="btn btn-primary" role="button">1</a>
				<a href="#" class="btn btn-primary" role="button">2</a>
				<a href="#" class="btn btn-primary" role="button">3</a>
				<a href="#" class="btn btn-primary" role="button">4</a>
				<a href="#" class="btn btn-primary" role="button">Next</a>
			</div>

		</div> <!-- thumbnail area -->
	</div>

<include file="Public:footer"/>
