<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<title>{$title}</title>
	<meta name="keywords" content="{$keywords}" />
	<meta name="description" content="{$description}" />
	<link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template -->
	<link href="__STATIC__/css/justified-nav.css" rel="stylesheet" type="text/css">
	<link href="__STATIC__/css/templatemo_style.css" rel="stylesheet" type="text/css">

</head>
<body>
<div id="main_container">
	<div class="container" id="home">
		<div class="header">
			<a href="#">
				<img src="__STATIC__/images/templatemo_logo.jpg" alt="fantasy html5 template" class="templatemo-logo">
			</a>

		</div>
		<img src="__STATIC__/images/header_image1.jpg" alt="header image" class="templatemo-header-img img-responsive cleaner">
		<div class="navbar templatemo-nav" id="navbar">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav nav-justified">
					<li class="active"><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="preview.html">Products</a></li>
					<li><a href="preview.html">Services</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div> <!-- nav -->
		</div>
<!--
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$title}</title>
	<link rel="stylesheet" href="__STATIC__/css/style.css">
	<script type="text/javascript" src="__STATIC__/js/init.js"></script>
</head>
<body>-->
